.popup {
  position: fixed;
  top: calc(50vh - 165px);
  left: calc(50vw - 215px);
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

@media screen and (max-width: 470px) {
  .popup {
    top: calc(50vh - 161px);
    left: calc(50vw - 141px);
  }
}
