.header {
    min-height: 74px;
    border-bottom: 1px solid #545454;
    padding-top: 45px;
  }

  @media screen and (max-width: 600px) {
    .header {
      min-height: 55px;
      padding-top: 32px;
      width: 100%;
    }
  }