.element__like-button {
    background: url(../../../images/like.svg) center no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 22px;
    height: 19px;
    transition: opacity 0.3s ease;
  }
  
  .element__like-button:hover {
    opacity: 0.6;
  }

  .element__like-button_liked {
    background-image: url(../../../images/liked.svg);
  }
  