.popup__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity 0.3s ease;
    padding: 0;
    background-image: url(../../../images/close.svg);
    background-size: cover;
    border: none;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 350px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
  }