.profile-info__data {
    width: 336px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .profile-info__data {
      margin: 0 auto 36px;
      flex-direction: column;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }