.profile-info__job {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .profile-info__job {
      width: 100%;
      margin-top: 14px;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }